# Core Framework
langchain
langgraph
langchain-core
langchain-groq
langchain-community

# LLM & Tools
duckduckgo-search<6

# Observability
langsmith

# Frontend
streamlit

# Utilities
python-dotenv
pydantic
