# Core Framework
langchain
langgraph
langchain-core
langchain-groq
langchain-community

# LLM & Tools
duckduckgo-search

# Observability
langsmith

# Frontend
streamlit

# Utilities
python-dotenv
pydantic
